In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv("my exel2")
df.head()

   Ansa  Clingo  new_creation
0     3       6             3
1     3       1             1
2     8       4             1
3     1      10             0
4     3       8             3

In [4]:
df.describe()

            Ansa     Clingo  new_creation
count  41.000000  41.000000     41.000000
mean    4.829268   5.073171      3.292683
std     2.212492   3.044587      2.135930
min     1.000000   1.000000      0.000000
25%     3.000000   2.000000      1.000000
50%     5.000000   4.000000      3.000000
75%     7.000000   8.000000      5.000000
max     8.000000  10.000000      7.000000

In [6]:
Ansa_user_rating = df['Ansa']
Clingo_user_rating =df['Clingo']

In [9]:
Ansa_user_rating.head(21)
Clingo_user_rating.head(21)

0      6
1      1
2      4
3     10
4      8
5      4
6      3
7      9
8      9
9      2
10     1
11     3
12     2
13     4
14     6
15     9
16     6
17     2
18     1
19     7
20    10
Name: Clingo, dtype: int64